.btn-die {
  height: 51px;
  width: 115px;
  border: none;
  border-radius: 6px;
  background-color: #5035ff;
  color: white;
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
}

/*
.btn-show {
  width: 150px;
}

.roll-btn:focus {
  outline: none;
}

.roll-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
*/
